main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: var(--spacing-xlarge);
    margin: calc(var(--image-size-large) + var(--spacing-large)) var(--spacing-xxxlarge) var(--spacing-xxxlarge) var(--spacing-xxxlarge);
    background-color: var(--background-color);
    background-image: url('../assets/background.svg');
    background-position: center;
    background-size: var(--image-size-tiny);
    border: 1px solid var(--shadow);
    border-radius: var(--border-radius);
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--spacing-large);
    margin-top: var(--spacing-xxxlarge);
}

#map {
    width: 100%;
    min-height: 320px;
    overflow: hidden;
    border: 1px solid var(--shadow);
    border-radius: var(--border-radius);
}

#map img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
