@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        margin: var(--spacing-xxlarge) auto 0;
    }

    .hero {
        padding: var(--spacing-small);
    }

    header img {
        height: var(--image-size-small);
        width: auto;
    }

    header nav ul {
        gap: var(--spacing-small);
        font-size:  var(--font-size-small);
    }

    header .logo h3 {
        font-size: var(--font-size-small);
    }

    main {
        padding: var(--spacing-medium);
        margin: calc(var(--image-size-large) + var(--spacing-large)) var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
    }

    h1,
    h2 {
        font-size: var(--font-size-large);
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: var(--font-size-medium);
    }

    p {
        font-size: var(--font-size-small);
    }

    #map {
        width: 100%;
    }

    .info-column,
    .content-column {
        padding: var(--spacing-medium);
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .control-panel {
        grid-template-columns: 1fr;
    }

    .sorter {
        justify-self: start;
    }

    .stats-grid {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}